<%
#    Copyright 2007 Guy Davis (davis@guydavis.ca)
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#   You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.
%>

<div style="font-weight:bold;margin-left:10px;margin-top:10px;">  
<ul class="legend_list">
  
<li class="legend_item"><%=link_to image_tag("icons/email_go.png") + " Send an Email", "mailto:friend@somewhere.com?subject=Baby Name Map&body=Check out the Baby Name Map 
at http://www.babynamemap.com", :title=>"Send to a Friend via Email"%></li>
  
<li class="legend_item"><a  href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwww.babynamemap.com%2F&amp;t=Baby+Name+Map" target="_blank"><img src="/images/share/facebook.gif" alt="facebook/" height="16" width="16">&nbsp;Facebook</a></li>

<li class="legend_item"><a  href="http://del.icio.us/post?v=2&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/delicious.png" alt="delicious/" height="16" width="16">&nbsp;del.icio.us</a></li>

<li class="legend_item"><a  href="http://digg.com/submit?phase=2&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/digg.png" alt="Digg" height="16" width="16">&nbsp;digg</a></li>

<li class="legend_item"><a  href="http://www.furl.net/storeIt.jsp?t=Baby+Name+Map&amp;u=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/furl.png" alt="Furl" height="16" width="16">&nbsp;Furl</a></li>

<li class="legend_item"><a  href="http://www.google.com/bookmarks/mark?op=add&title=Baby+Name+Map&amp;bkmk=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/google.png" alt="Google Bookmarks" height="16" width="16">&nbsp;Google Bookmarks</a></li>

<li class="legend_item"><a  href="http://www.mister-wong.com/index.php?action=addurl&amp;bm_url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;bm_description=Baby+Name+Map%20" target="_blank"><img src="/images/share/mrwong.png" alt="Mr Wong" height="16" width="16">&nbsp;Mister Wong</a></li>

<li class="legend_item"><a href="http://www.netscape.com/submit/?U=http%3A%2F%2Fwww.babynamemap.com%2F&amp;T=Baby+Name+Map" target="_blank"><img src="/images/share/netscape.gif" alt="Netscape" height="16" width="16"> Netscape</a></li>

<li class="legend_item"><a href="http://netvouz.com/action/submitBookmark?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map&amp;popup=no" target="_blank"><img src="/images/share/netvouz.png" alt="netvouz" height="16" width="16">&nbsp;netvouz</a></li>

<li class="legend_item"><a href="http://www.plugim.com/submit?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/plugim.png" alt="PlugIM" height="16" width="16">&nbsp;PlugIM</a></li>

<li class="legend_item"><a href="http://reddit.com/submit?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/reddit.png" alt="reddit" height="16" width="16">&nbsp;reddit</a></li>

<li class="legend_item"><a href="http://slashdot.org/bookmark.pl?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/slashdot.png" alt="Slashdot" height="16" width="16">&nbsp;Slashdot</a></li>

<li class="legend_item"><a href="http://www.squidoo.com/lensmaster/bookmark?http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/squidoo.gif" alt="Squidoo" height="16" width="16">&nbsp;Squidoo</a></li>

<li class="legend_item"><a href="http://www.stumbleupon.com/submit?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/stumbleit.gif" alt="Stumbleupon" height="16" width="16">&nbsp;StumbleUpon</a>
  
</li><li class="legend_item"><a href="http://technorati.com/faves/?add=http://www.babynamemap.com/" target="_blank"><img src="/images/share/technorati.gif" alt="Technorati" height="16" width="16">&nbsp;Technorati</a></li>

</li><li class="legend_item"><a href="http://twitter.com/home?status=Check+this+out:+http%3A%2F%2Fbabynamemap.com%2F" target="_blank"><img src="/images/share/twitter.gif" alt="Twitter" height="16" width="16">&nbsp;Twitter</a></li>

<li class="legend_item"><a href="http://bookmarks.yahoo.com/toolbar/savebm?opener=tb&u=http%3A%2F%2Fwww.babynamemap.com%2F&amp;t=Baby+Name+Map" target="_blank"><img src="/images/share/yahoo_bkm.gif" alt="Yahoo Bookmarks" height="16" width="16">&nbsp;Yahoo Bookmarks</a></li>

<li class="legend_item"><a href="http://myweb2.search.yahoo.com/myresults/bookmarklet?u=http%3A%2F%2Fwww.babynamemap.com%2F&amp;t=Baby+Name+Map" target="_blank"><img src="/images/share/yahoo.gif" alt="Yahoo My Web" height="16" width="16">&nbsp;Yahoo My Web</a></li>

<li class="legend_item"><a href="http://www.backflip.com/add_page_pop.ihtml?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/backflip.gif" alt="Backflip" height="16" width="16">&nbsp;Backflip</a></li>

<li class="legend_item"><a href="http://blinkbits.com/bookmarklets/save.php?v=1&amp;source_url=http://www.babynamemap.com/&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/blinkbits.gif" alt="BlinkBits" height="16" width="16">&nbsp;BlinkBits</a></li>

<li class="legend_item"><a href="http://www.blinklist.com/index.php?Action=Blink/addblink.php&amp;Title=Baby+Name+Map&amp;Url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/blinklist.gif" alt="Blinklist" height="16" width="16">&nbsp;Blinklist</a></li>

<li class="legend_item"><a href="http://blogmarks.net/my/new.php?mini=1&amp;simple=1&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/blogmarks.gif" alt="BlogMarks" height="16" width="16">&nbsp;blogmarks</a></li>

<li class="legend_item"><a  href="http://www.blogmemes.net/post.php?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/blogmemes.png" alt="delicious/" height="16" width="16">&nbsp;Blogmemes</a></li>

<li class="legend_item"><a href="http://buddymarks.com/add_bookmark.php?bookmark_title=Baby+Name+Map&amp;bookmark_url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/buddymarks.gif" alt="BuddyMarks" height="16" width="16">&nbsp;Buddymarks</a></li>

<li class="legend_item"><a href="http://www.citeulike.org/posturl?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/citeulike.gif" alt="CiteUlike" height="16" width="16">&nbsp;CiteUlike</a></li>

<li class="legend_item"><a href="http://www.diigo.com/post?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/diigo.gif" alt="Diigo" height="16" width="16">&nbsp;Diigo</a></li>

<li class="legend_item"><a href="http://www.dzone.com/links/add.html?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/dzone.gif" alt="dzone" height="16" width="16">&nbsp;dzone</a></li>

<li class="legend_item"><a href="http://www.feedmarker.com/admin.php?do=bookmarklet_mark&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/feedmarker.png" alt="Feedmarker" height="16" width="16">&nbsp;FeedMarker</a></li>

<li class="legend_item"><a href="http://feedmelinks.com/categorize?from=toolbar&amp;op=submit&amp;name=Baby+Name+Map&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;version=0.7" target="_blank"><img src="/images/share/feedmelinks.gif" alt="Feed me links" height="16" width="16">&nbsp;Feed&nbsp;Me&nbsp;Links!</a></li>

<li class="legend_item"><a href="http://www.givealink.org/cgi-pub/bookmarklet/bookmarkletLogin.cgi?&amp;uri=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/givealink.gif" alt="Give a Link" height="16" width="16">&nbsp;Give a Link</a></li>

<li class="legend_item"><a href="http://www.gravee.com/account/bookmarkpop?u=http%3A%2F%2Fwww.babynamemap.com%2F&amp;t=Baby+Name+Map" target="_blank"><img src="/images/share/gravee.gif" alt="gravee" height="16" width="16">&nbsp;Gravee</a></li>

<li class="legend_item"><a href="http://www.hyperlinkomatic.com/lm2/add.html?LinkTitle=Baby+Name+Map&amp;LinkUrl=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/hyperlinkomatic.gif" alt="hyperlinkomatic" height="16" width="16">&nbsp;Hyperlinkomatic</a></li>

<li class="legend_item"><a href="http://www.igooi.com/addnewitem.aspx?self=1&amp;noui=yes&amp;jump=close&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/igooi.gif" alt="igooi" height="16" width="16">&nbsp;igooi</a></li>

<li class="legend_item"><a href="http://kinja.com/id.knj?url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/kinja.gif" alt="kinja" height="16" width="16">&nbsp;kinja</a></li>

<li class="legend_item"><a href="http://lister.lilisto.com/?t=Baby+Name+Map&amp;l=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/lilisto.png" alt="Lilisto" height="16" width="16">&nbsp;Lilisto</a></li>

<li class="legend_item"><a href="http://www.linkagogo.com/go/AddNoPopup?title=Baby+Name+Map&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/linkagogo.gif" alt="Linkagogo" height="16" width="16">&nbsp;Linkagogo</a></li>

<li class="legend_item"><a  href="http://www.linkroll.com/index.php?action=insertLink&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/linkroll.png" alt="Linkroll" height="16" width="16">&nbsp;Linkroll</a></li>

<li class="legend_item"><a href="http://api.looklater.com/bookmarks/save?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/looklater.gif" alt="Look Later" height="16" width="16">&nbsp;looklater</a></li>

<li class="legend_item"><a href="http://ma.gnolia.com/bookmarklet/add?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/magnolia.gif" alt="Magnolia" height="16" width="16">&nbsp;Magnolia</a></li>

<li class="legend_item"><a href="http://www.maple.nu/bookmarks/bookmarklet?bookmark%5Burl%5D=http%3A%2F%2Fwww.babynamemap.com%2F&amp;bookmark%5Bname%5D=Baby+Name+Map" target="_blank"><img src="/images/share/maple.gif" alt="Maple" height="16" width="16">&nbsp;maple</a></li>

<li class="legend_item"><a href="http://mesfavs.com/bookmarks.php/?action=add&amp;address=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/mesfavs.gif" alt="mesfavs" height="16" width="16"> MesFavs</a></li>

<li class="legend_item"><a href="http://mixx.com/submit?page_url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/mixx.gif" alt="mesfavs" height="16" width="16"> Mixx</a></li>

<li class="legend_item"><a href="http://www.newsvine.com/_wine/save?u=http%3A%2F%2Fwww.babynamemap.com%2F&amp;h=Baby+Name+Map" target="_blank"><img src="/images/share/newsvine.png" alt="Newsvine" height="16" width="16">&nbsp;Newsvine</a></li>

<li class="legend_item"><a href="http://www.rawsugar.com/tagger/?turl=http%3A%2F%2Fwww.babynamemap.com%2F&amp;tttl=Baby+Name+Map&amp;editorInitialized=1" target="_blank"><img src="/images/share/rawsugar.png" alt="Raw Sugar" height="16" width="16">&nbsp;Raw Sugar</a></li>

<li class="legend_item"><a href="http://www.rojo.com/add-subscription/?resource=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/rojo.png" alt="rojo" height="16" width="16">&nbsp;Rojo</a></li>

<li class="legend_item"><a href="http://scuttle.org/bookmarks.php/?action=add&amp;address=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/scuttle.png" alt="Scuttle" height="16" width="16">&nbsp;Scuttle</a></li>

<li class="legend_item"><a href="http://segnalo.com/post.html.php?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/segnalo.gif" alt="Segnalo" height="16" width="16">&nbsp;Segnalo</a></li>

<li class="legend_item"><a href="http://www.shadows.com/shadows.aspx?url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/shadows.gif" alt="Shadows" height="16" width="16">&nbsp;Shadows</a></li>

<li class="legend_item"><a href="http://simpy.com/simpy/LinkAdd.do?title=Baby+Name+Map&amp;href=http%3A%2F%2Fwww.babynamemap.com%2F&amp;v=6&amp;src=bookmarklet" target="_blank"><img src="/images/share/simpy.png" alt="Simpy" height="16" width="16">&nbsp;Simpy</a></li>

<li class="legend_item"><a href="http://sphinn.com/submit.php?url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/sphinn.png" alt="Sphinn" height="16" width="16">&nbsp;Sphinn</a></li>

<li class="legend_item"><a href="http://www.spurl.net/spurl.php?v=3&amp;title=Baby+Name+Map&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/spurl.png" alt="Spurl" height="16" width="16">&nbsp;Spurl</a></li>

<li class="legend_item"><a href="http://www.tagtooga.com/tapp/db.exe?c=jsEntryForm&amp;b=fx&amp;title=Baby+Name+Map&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/tagtooga.gif" alt="tagtooga" height="16" width="16">&nbsp;tagtooga</a></li>

<li class="legend_item"><a href="http://tailrank.com/share/?title=Baby+Name+Map&amp;link_href=http%3A%2F%2Fwww.babynamemap.com%2F" target="_blank"><img src="/images/share/tailrank.gif" alt="Tailrank" height="16" width="16">&nbsp;Tailrank</a></li>

<li class="legend_item"><a href="http://unalog.com/my/stack/link?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/unalog.png" alt="unalog" height="16" width="16">&nbsp;unalog</a></li>

<li class="legend_item"><a href="http://www.wink.com/_/tag?url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;doctitle=Baby+Name+Map" target="_blank"><img src="/images/share/wink.gif" alt="Wink" height="16" width="16">&nbsp;Wink</a></li>

<li class="legend_item"><a href="http://www.wists.com/r.php?r=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/wists.gif" alt="wists" height="16" width="16">&nbsp;wists</a></li>

<li class="legend_item"><a href="http://tag.zurpy.com/?box=1&amp;url=http%3A%2F%2Fwww.babynamemap.com%2F&amp;title=Baby+Name+Map" target="_blank"><img src="/images/share/zurpy.png" alt="zurpyb" height="16" width="16">&nbsp;zurpy</a></li>

</ul>	

